.custom-navbar {
    background: linear-gradient(to right, #394240, #292c33); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
  }
  
  .brand-text {
    font-size: 1.8rem; 
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link.active {
    color: #61dafb;
    background-color: rgba(97, 218, 251, 0.1);
  }
 
  .navbar-toggler-icon {
    background-color: #ffffff;
  }
  

.create {
    background-color: #f8f9fa;
    padding: 40px 0;
  }
  
  .form-container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 25px;
    width: 100%;
  }
  
  .form-label {
    font-weight: bold;
    color: #495057;
  }
  
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 12px;
    transition: border-color 0.3s ease;
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 14px 25px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    
    font-size: 18px;
    margin-top: 15px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
